.hidden {
  display: none;
}

img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 100%;
}

#clock {
  position: relative;
  text-align: center;
  top: 210px;
  font-size: 80px;
}

#login-form,
#greeting {
  position: relative;
  text-align: center;
  top: 150px;
}

#todo-form,
#todo-list {
  position: relative;
  text-align: center;
  top: 200px;
}

#quote {
  position: relative;
  text-align: center;
  top: 300px;
}

#weather {
  position: relative;
  text-align: right;
  top: -350px;
}
